/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

.header{
    border-bottom: 2px solid gray;
}

.footer{
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    background-color:#A7C7E7;
}

.dialog-form{
    border: 1px solid #00BCD4;
}

.v-overlay__scrim{
    opacity: 65%;
}



